doctype html
html
    - var title = 'Onix'
    include ../blocks/head
    <!--BEGIN LOAD STYLES-->
    link(async href='assets/styles/minimized/all.min.css', rel='stylesheet' type='text/css')
    <!--END LOAD STYLES-->
    body
        - var headerAdditionalClass = 'headerBlock'
        include ../blocks/header
        main
            <!--BEGIN FIRST BLOCK-->
            div#FirstBlock.FirstBlock--main.container-fluid
                div.FirstBlock__element--modifier
                    span Base frontend

        include ../blocks/footer
include ../blocks/scripts