<!--BEGIN LOAD SCRIPTS-->
script(src='assets/libs/modernizr/modernizr.js')
script(src='assets/libs/jquery/dist/jquery.min.js')
script(src='assets/libs/jquery-mobile/events.touch/jquery.mobile.custom.min.js')
script(src='assets/libs/bootstrap/dist/js/bootstrap.min.js')
script(async, src='assets/scripts/main.js')
<!--END LOAD SCRIPTS-->