/*! === BASE === */

html
body
    height 100%

body
    font-family Arial, sans-serif
    font-size 14px
    line-height 1.4

body
input
button
textarea
    font-family Arial, sans-serif

input
button
textarea
    ibreset()

button
    cursor pointer
    &::-moz-focus-inner
    &::-moz-focus-inner
        border: 0
        padding: 0  

a
    text-decoration none
a:hover
    text-decoration none
em
i
    font-style italic

b
strong
    font-weight bold

for num in (10 20 30 40 50 60 70 80 90 100 200 300 400 500)
    .mt-{num}
        margin-top num px

for num in (10 20 30 40 50 60 70 80 90 100 200 300 400 500)
    .mb-{num}
        margin-bottom num px

for num in (10 20 30 40 50 60 70 80 90 100 200 300 400 500)
    .ml-{num}
        margin-left num px

for num in (10 20 30 40 50 60 70 80 90 100 200 300 400 500)
    .mr-{num}
        margin-right num px
